@import "~style/variables.scss";

.dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 888888;
  background: rgba(black, 0.4);
}

.lds-hourglass {
  display: inline-block;
  width: 64px;
  height: 64px;

  position: fixed;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  z-index: 999999;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid $primaryColor;
  border-color: $primaryColor transparent $primaryColor transparent;
  animation: lds-hourglass 4.7s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.lds-abort {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;

  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999999;
}
